.form {
    padding-top: 10%;
}

.paperStyle {
    padding: 20px;
    height: 70px;
    width: 40%;
    margin: 20px auto;
}

.textField {
    margin-bottom: 5%;
}

.login_btn {
    width: 25%;
    /* padding: 20%; */
}

